<ul>
  <% @bookings.each do |bookings| %>
    <li>
      <%= bookings.customer_first_name %>
      <%= bookings.customer_second_name %>
      <%= bookings.date_in %>
      <%= bookings.date_out %>
      <%= bookings.status %>
    </li>
  <% end %>
</ul>