<h1><%= @booking.id %></h1>

<div>
  <p><%= @booking.customer_first_name %></p>
  <p><%= @booking.customer_second_name %></p>
  <p><%= @booking.date_in %></p>
  <p><%= @booking.date_out %></p>
  <p><%= @booking.status %></p>
</div>
