<table>
  <tr>
    <th>reviewer_name</th>
    <th>email</th>
    <th>body</th>
    <th>status</th>
    <th>created_at</th>
  </tr>
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.reviewer_name %></td>
      <td><%= review.email %></td>
      <td><%= review.body %></td>
      <td><%= review.status %></td>
      <td><%= review.created_at %></td>
      <% if review.status == false %><td><%= link_to "Accept", "/reviews/#{review.id}/accept", method: :patch %></td><% end %>
      <td><%= link_to "Destroy", review_path(review), method: :delete %></td>
    </tr>
  <% end %>
</table>